{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: rgb(48, 20, 126); color: whitesmoke; padding-top:20px 20px; margin: 50px; font-family: 'Lora', serif;">
    <h1>One Minute Pitch</h1>
</div>
<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-dark">Create pitch</a>
</div>

<div class="container" style= "font-family: 'Lora', serif">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Interview Pitches</h3>
                <p>Want to ace an interview in just a few words, welcome.</p>
                <a href="{{url_for('main.interview_pitches')}}" class="btn btn-dark -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Product Pitches</h3>
                <p>Want to talk about your products, you're in the right place.</p>
                <a href="{{url_for('main.product_pitches')}}" class="btn btn-dark -center">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Promotion Pitches</h3>
                <p>Want to promote anything, step right up and begin.</p>
                <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-dark -center">View</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
